__pycache__/
ADB/
stanford-corenlp-full-2017-06-09/
Project 2/.DS_Store
Project 2/__pycache__/
.DS_Store
input.txt*
*.properties
*.pyc
Project 3/dataset/
Project 3/INTEGRATED-DATASET.csv
.idea/
